.contact-form__instruction {
    color: #000000;
    font-size: 14px;
    padding-bottom: 10px;
}

.contact-form_button-block {
    padding-top: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .contact-form__instruction {
        padding-bottom: 15px;
    }

    .contact-form_button-block {
        padding-top: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .contact-form__instruction {
        font-size: 20px;
        padding-bottom: 25px;
    }

    .contact-form_button-block {
        padding-top: 80px;
    }
}