.button-block__button-element {
    height: 50px;
    padding: 0 45px;
    font-size: 19px;
    transition: all 0.3s;
    color: var(--white-color);
    background: var(--link-hover-color);
    border-radius: 45px;
    border: none;
}

.button-block__button-element:hover {
    -webkit-box-shadow: 0px 5px 8px 0px rgba(255, 0, 68, 0.3);
    -moz-box-shadow:    0px 5px 8px 0px rgba(255, 0, 68, 0.3);
    box-shadow:         0px 5px 8px 0px rgba(255, 0, 68, 0.3);
}

.button-block__button-element:active {
    -webkit-box-shadow: 0px 5px 8px 0px rgba(255, 0, 68, 0.4);
    -moz-box-shadow:    0px 5px 8px 0px rgba(255, 0, 68, 0.4);
    box-shadow:         0px 5px 8px 0px rgba(255, 0, 68, 0.4);
}

.button-block__button-element:focus {
    -webkit-box-shadow: 0px 6px 9px 0px rgba(255, 0, 68, 0.5);
    -moz-box-shadow:    0px 6px 9px 0px rgba(255, 0, 68, 0.5);
    box-shadow:         0px 6px 9px 0px rgba(255, 0, 68, 0.5);
}