.form-group {
    position: relative;
}

.form-group:not(:first-child) {
    margin-top: 10px;
}

.form-group__text {
    padding: 0 10px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: var(--white-color);
    border-radius: 3px;
    color: var(--black-color);
}

.form-group__text_input {
    height: 50px;
    font-family: 'circe_regular';
}

.form-group__text_input::placeholder {
    color: #d3d3d3;
    font-family: 'circe_regular';
}

.form-group__text_textarea {
    padding: 10px;
    height: 120px;
    font-family: 'circe_regular';
    resize: none;
}

.form-group__text_textarea::placeholder {
    color: #d3d3d3;
    font-size: 14px;
    font-family: 'circe_regular';
}

.form-group__validation-error {
    position: absolute;
    top: 50px;
    display: none;
}

@media screen and (min-width: 1200px) {
    .form-group__text {
        padding: 25px 0 0;
        border-bottom: 1px solid #c9bcbb;
        background: none;
        border-radius: 0;
    }
    .form-group__text:focus {
        border-color: var(--link-hover-color);
    }

    .form-group__text_textarea {
        height: 50px;
        
    }
}