.logo {
    color: var(--text-color);
    font-size: 16px;
    font-family: 'Playfair Display';
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .logo {
        font-size: 20px;
    }
}

@media screen and (min-width: 1200px) {
    .logo {
        font-size: 23px;
    }
}