.navigation-button {
    width: 20px;
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.navigation-button::before, 
.navigation-button::after  {
    content: '';
    height: 2px;
    background: #000;
}

.navigation-button__element {
    height: 2px;
    background: #000;
}

@media screen and (min-width: 1200px) {
    .navigation-button {
        display: none;
    }
}