body {
    min-height: 100vh;
    min-width: 320px;
    background: #FBEBEA;
    display: flex;
    flex-direction: column;
    font-family: 'circe_regular';
}

main {
    flex-grow: 1;
}

.container {
    padding: 0 20px;
}

.header-container{
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.header__navigation-container {
    padding-left: 40px;
}

.footer-container {
    padding: 45px 0 30px;
    background: #898989;
}

.footer__navigation-container {
    margin-top: 30px;
}

.copyrights-container {
    background: #898989;
}

.main-container {
    padding-top: 45vw;
    position: relative;
}

.products-container {
    padding-top: 50px;
    padding-bottom: 40px;
}

.order-container {
    padding: 35px 20px 145px 20px;
    background-color: #d62934;
    color: var(--white-color);
    background-image: url(order-hands.jpg);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: center 110%;
}

.contact-container {
    padding-top: 40px;
    padding-bottom: 50px;
}

.hidden-xs {
    display: none;
}

@media screen and (max-width: 1199px) {
    .header-container{
        background: var(--white-color);
    }
}

@media screen and (min-width: 768px) {
    .order-block-wrapper {
        float: right;
    }

    .order-container:after {
        content: '';
        display: block;
        clear: both;
    }

    .contact-container {
        background-image: url(contact-background.jpg);
        background-repeat: no-repeat;
        background-position: right bottom;
    }

    .contact-wrapper {
        display: flex;
    }

    .hidden-xs {
        display: inline-block;
    }

    .footer__navigation-container {
        margin: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .header-container{
        height: 60px;
        padding: 0 17px;
    }

    .header__navigation-container {
        flex-grow: 1;
    }

    .footer-container {
        background: #898989;
    }

    .products-container {
        padding-top: 150px;
    }

    .order-container {
        padding-top: 50px;
        padding-bottom: 60px;
        background-size: 420px;
        background-position: -120px bottom;
    }

    .order-block-wrapper {
        width: 56%;
    }

    .contact-container {
        padding: 50px 17px 100px 17px;
        background-size: 70%;
        background-position: 42vw bottom;
    }

    .main-container {
        padding: 110px 17px 0 17px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1170px;
        margin: 0 auto;
        padding: 0 15px;
    }

    .header-container{
        padding: 40px 0 20px;
        height: auto;
        display: block;
    }

    .footer-container {
        padding: 40px 0;
        background: #e8e8e8;
    }

    .copyrights-container {
        background: #e8e8e8;
    }

    .products-container {
        margin-top: 260px;
        margin-bottom: 65px;
    }

    .order-container {
        min-height: 703px;
        padding-top: 120px;
        padding-bottom: 180px;
        box-sizing: border-box;
        background-size: auto;
        background-position: left bottom;
    }

    .order-block-wrapper {
        width: 40%;
    }

    .contact-container {
        padding-top: 80px;
        padding-bottom: 300px;
    }

    .main-container {
        padding-top: 145px;
    }
}