@media screen and (max-width: 1199px) {
    .navigation-list {
        opacity: 0;
        left: 0;
        transform: translateY(0);
        transition: all .3s ease;
        visibility: hidden;
        position: absolute;
    }

    .navigation-list_active {
        width: 100%;
        opacity: 1;
        padding: 15px;
        transform: translateY(0);
        background: #fff;
        box-sizing: border-box;
        visibility: visible;
    }

    .navigation-list__item {
        font-size: 12px;
        padding: 5px 0;
    }
}