.header__navigation-list {
    opacity: 0;
    left: 0;
    transform: translateY(0);
    visibility: hidden;
    position: absolute;
    z-index: 3;
}

.navigation-list_active {
    width: 100%;
    opacity: 1;
    top: 40px;
    transform: translateY(0);
    background: #e7e7e7;
    box-sizing: border-box;
    visibility: visible;
}

.navigation-list__item {
    font-size: 12px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-list__item:not(:first-child) {
    border-top: 1px solid #dedede;
}

.navigation-list__link {
    color: #2d2829;
    text-decoration: none;
    transition: color 0.3s;
}

.navigation-list__link:hover {
    color: #F50049;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .navigation-list_active {
        width: 320px;
        top: 60px;
    }
}

@media screen and (min-width: 1200px) {
    .header__navigation-list {
        opacity: 1;
        visibility: visible;
        position: static;
    }

    .navigation-list {
        display: flex;
    }

    .navigation-list__item {
        font-size: 13px;
        height: auto;
        padding: 0;
    }

    .navigation-list__item:not(:first-child) {
        margin-left: 40px;
        border: none;
    }
}