.main-picture {
    height: 50vw;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url(main-pic.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 110%;
    position: absolute;
}

@media screen and (min-width: 768px) {
    .main-picture{
        top: 15px;
        left: auto;
        right: 0;
        background-position-x: left;
        background-size: cover;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .main-picture{
        background-image: url(main-tablet-picture.jpg);
        width: 52vw;
        height: 565px;
        top: 15px;
    }
}

@media screen and (min-width: 1200px) {
    .main-picture{
        background-image: url(main-desktop-picture.jpg);
    }
}

@media screen and (min-width: 1199px) and (max-width: 1599px) {
    .main-picture{
        width: 73vw;
        height: 920px;
    }
}

@media screen and (min-width: 1600px) {
    .main-picture{
        width: 920px;
        height: 920px;
        left: auto;
        right: 0;
        background-size: contain;
        background-position: left;
    }
}