.phone {
    font-family: 'circe_bold';
    font-size: 15px;
    display: none;
}

.phone__link {
    color: #2d2829;
    text-decoration: none;
    transition: color 0.3s;
}

.phone__link:hover {
    color: var(--link-hover-color);
}

@media screen and (min-width: 768px) {
    .phone {
        display: block;
    }
}