.phone {
    font-family: 'circe_bold';
    font-size: 15px;
}

.phone__link {
    color: #2d2829;
    text-decoration: none;
}

@media screen and (max-width: 750px) {
    .phone {
        display: none;
    }
}