@import url(typography-mobile.css);
@import url(typography-tablet.css);
@import url(typography-desktop.css);

@font-face {
    font-family: 'playfair_displaybold';
    src: url('fonts/playfairdisplay-bold.eot');
    src: url('fonts/playfairdisplay-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/playfairdisplay-bold.woff2') format('woff2'),
         url('fonts/playfairdisplay-bold.woff') format('woff'),
         url('fonts/playfairdisplay-bold.ttf') format('truetype'),
         url('fonts/playfairdisplay-bold.svg#playfair_displaybold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'intro_script_rh2_base';
    src: url('fonts/Intro-Script-R-H2-Base.eot');
    src: url('fonts/Intro-Script-R-H2-Base.eot?#iefix') format('embedded-opentype'),
         url('fonts/Intro-Script-R-H2-Base.woff2') format('woff2'),
         url('fonts/Intro-Script-R-H2-Base.woff') format('woff'),
         url('fonts/Intro-Script-R-H2-Base.ttf') format('truetype'),
         url('fonts/Intro-Script-R-H2-Base.svg#intro_script_rh2_base') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'circe_regular';
    src: url('fonts/Circe-Regular.eot');
    src: url('fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Circe-Regular.woff') format('woff'),
         url('fonts/Circe-Regular.ttf') format('truetype'),
         url('fonts/Circe-Regular.svg#circe_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'circe_bold';
    src: url('fonts/Circe-Bold.eot');
    src: url('fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/Circe-Bold.woff') format('woff'),
         url('fonts/Circe-Bold.ttf') format('truetype'),
         url('fonts/Circe-Bold.svg#circe_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}