.contact-block__page-title {
    padding-bottom: 15px;
}

.contact-block__page-subtitle {
    padding-bottom: 15px;
}

.contact-block__contact-form {

}

.contact-block__contact-details {

}

@media screen and (min-width: 768px) {
   
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .contact-block__page-subtitle {
        padding-bottom: 20px;
    }

    .contact-block__contact-form {
        width: 50%;
    }
    
    .contact-block__contact-details {
        width: 50%;
        padding-left: 68px;
        box-sizing: border-box;
    }
}

@media screen and (min-width: 1200px) {
    .contact-block__page-title {
        padding-bottom: 40px;
    }

    .contact-block__page-subtitle {
        padding-bottom: 25px;
    }

    .contact-block__contact-form {
        width: 550px;
    }
    
    .contact-block__contact-details {
        padding-left: 80px;
        flex-grow: 1;
    }
}