.footer-block {
    display: block;
}

.footer__logo {
    color: var(--white-color);
    font-size: 28px;
    margin-bottom: 30px;
}

.footer__navigation-list {
    display: block;
}

.footer__navigation-list__item {
    font-size: 14px;
    height: auto;
    margin: 0 0 20px;
    justify-content: flex-start;
}

.footer__navigation-list__item:not(:first-child) {
    border: none;
}

.footer__navigation-list__link {
    color: var(--white-color);
    transition: color 0.3s;
    height: auto;
    display: inline;
}

.footer__navigation-list__link:hover {
    color: var(--link-hover-color);
    border: none;
}

.footer__phone {
    display: block;
    font-size: 14px;
}

.footer__phone__link {
    color: var(--white-color);
    transition: color 0.3s;
}

.footer__phone__link:hover {
    color: var(--link-hover-color);
}

@media screen and (min-width: 768px){
    .footer-block {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    .footer__logo {
        margin: 0;
    }

    .footer__navigation-list {
        display: flex;
    }

    .footer__navigation-list__item {
        margin: 0;
    }

    .footer__phone {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer__logo {
        font-size: 18px;
    }

    .footer__navigation-list__item {
        font-size: 12px;
    }

    .footer__navigation-list__item:not(:first-child) {
        margin-left: 40px;
    }

    .footer-block__social-networks {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .footer__navigation-list__item {
        font-size: 16px;
    }

    .footer__navigation-list__item:not(:first-child) {
        margin-left: 50px;
    }

    .footer__navigation-list__link {
        color: var(--text-color);
    }

    .footer__logo {
        color: var(--text-color);
        font-size: 28px;
    }
}
