@media screen and (max-width: 750px) {
    .footer-block {
        display: block;
   }

    .footer__logo {
        color: #fff;
        font-size: 28px;
        padding-bottom: 30px;
    }
   
   .footer__navigation-list {
      display: block;
   }

    .footer__navigation-list .navigation-list__item {
        font-size: 14px;
    }

    .footer__navigation-list .navigation-list__item {
        padding: 0 0 20px;
    }

    .footer__navigation-list .navigation-list__link {
        color: #fff;
    }

    .footer__phone {
        display: block;
        font-family: 'circe_regular';
        font-size: 14px;
    }

    .footer__phone .phone__link {
        color: #fff;
    }

    .footer__social-networks {
        display: none;
    }
}