.page-title {
    font-family: 'Playfair Display';
    font-size: 24px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .page-title {
        text-align: left;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .page-title {
        font-size: 28px;
    }
}

@media screen and (min-width: 1200px) {
    .page-title {
        font-size: 40px;
    }
}