.page-subtitle {
    font-family: 'intro_script_rh2_base';
    font-size: 22px;
    color: #32313d;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .page-subtitle {

    }
}

@media screen and (min-width: 1200px) {
    .page-subtitle {
        font-size: 35px;
    }
}